h1{color:rgb(95,158,160); font-family:Algerian;} 
h2{color:rgb(100,149,237);} 
h3{color:rgb(128,0,128); font-family:Baskerville Old Face;}
h4{color:rgb(0,0,139); font-family:Bernard MT Condensed; }
	p{ color:black; font-family: Bookman Old Style;}
	ul{color: Black; font-family:Forte ;}
form{ color:rgb(30,144,255); font-family:Arial Rounded MT Bold;}
body{ background-color:rgb(250, 235, 215);} 